* text=auto eol=lf

# Sources
*.adoc       text diff=asciidoc
*.md         text diff=markdown
*.yml        text diff=yaml
*.yaml       text diff=yaml
*.hbs        text
*.html       text diff=html
*.css        text diff=css
*.js         text
*.mjs        text
*.cjs        text
*.json       text diff=json
*.xml        text diff=xml
*.elixir     text diff=elixir
*.exs        text diff=elixir
Dockerfile   text
Taskfile.yml text
.nojekyll    text

# Line endings (binary comparison)
*.bat        text eol=crlf

# Binary files
tools/icon/dist/*  binary
tools/jsonc/dist/* binary
*.png        binary
*.jpg        binary
*.jpeg       binary
*.gif        binary
*.webp       binary
*.avif       binary
*.zip        binary
*.gz         binary
*.tar        binary
