<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Hello Jasonelle</title>
        
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        
        <link rel="stylesheet" href="style.css" type="text/css">
        
        <style>
            .header {
                text-align: center;
            }
            h3.title {
                background-color: lightgray;
                font-weight: bold;
            }
        </style>
        
        <script type="text/javascript">
            window.traceFromMain = () => $logger.trace("I was called from Main.js!!!");
        </script>
        <script type="text/javascript">
        </script>
    </head>
    <body>
        <div class="header">
            <img class="logo" src="AppIcon.png" title="Jasonelle Icon">
            <span id="jasonelle.version"></span>
        </div>
        <ul>
